@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* App styling */
.app-wrapper {
  height: 100vh;
}

.icon {
  color: #fff;
  font-size: 1.875rem;
  margin-right: 1rem;
}
